:where(.css-dev-only-do-not-override-djtmh8).ant-progress .ant-progress-bg {
    position: relative;
    background: #00ADEE;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

:where(.css-dev-only-do-not-override-djtmh8).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: #00ADEE;
}